services:
  web:
    build: ./dashboard-app
    ports:
      - "3000:3000"
    restart: always

  api:
    build: ./casanet-server/backend
    ports:
      - "8080:8080"
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx:ro
    depends_on:
      - web
      - api
    restart: always
